# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_ewm
config MCUX_HAS_driver_ewm
    bool

config MCUX_USE_driver_ewm
    depends on MCUX_HAS_driver_ewm
    bool "EWM Driver"
    select MCUX_USE_driver_common
    help
      EWM Driver
