# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_LPCXPRESSO845MAX

config MCUX_BOARD
    default "lpcxpresso845max"

config MCUX_KIT
    default "lpcxpresso845max"


#### Board level drivers ####

endif