# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKMIMX8MM
    bool "EVKMIMX8MM"
    select MCUX_USE_SOC_MIMX8MM6
    select MCUX_SOC_PART_MIMX8MM6xxxLZ