# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_wkt
config MCUX_HAS_driver_wkt
    bool

config MCUX_USE_driver_wkt
    depends on MCUX_HAS_driver_wkt
    bool "WKT Driver"
    select MCUX_USE_driver_common
    help
      WKT Driver
