# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_LPCXPRESSO55S69_CM33_CORE0
    bool "LPCXPRESSO55S69 [CM33_CORE0]"
    select MCUX_USE_SOC_LPC55S69_CM33_CORE0
    select MCUX_SOC_PART_LPC55S69

config MCUX_USE_BOARD_LPCXPRESSO55S69_CM33_CORE1
    bool "LPCXPRESSO55S69 [CM33_CORE1]"
    select MCUX_USE_SOC_LPC55S69_CM33_CORE1
    select MCUX_SOC_PART_LPC55S69