# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_casper
config MCUX_HAS_driver_casper
    bool

config MCUX_USE_driver_casper
    depends on MCUX_HAS_driver_casper
    bool "CASPER Driver"
    select MCUX_USE_driver_common
    help
      CASPER Driver
