# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_xbara
config MCUX_HAS_driver_xbara
    bool

config MCUX_USE_driver_xbara
    depends on MCUX_HAS_driver_xbara
    bool "XBARA Driver"
    select MCUX_USE_driver_common
    help
      XBARA Driver
