# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_src
config MCUX_HAS_driver_src
    bool

config MCUX_USE_driver_src
    depends on MCUX_HAS_driver_src
    bool "SRC Driver"
    select MCUX_USE_driver_common
    help
      SRC Driver
