# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpc_iopctl
config MCUX_HAS_driver_lpc_iopctl
    bool

config MCUX_USE_driver_lpc_iopctl
    depends on MCUX_HAS_driver_lpc_iopctl
    bool "iopctl Driver"
    select MCUX_USE_driver_common
    help
      iopctl Driver
