# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_tsi_v5
config MCUX_HAS_driver_tsi_v5
    bool

config MCUX_USE_driver_tsi_v5
    depends on MCUX_HAS_driver_tsi_v5
    bool "TSI Driver"
    select MCUX_USE_driver_common
    help
      TSI Driver
