# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_spifi_dma
config MCUX_HAS_driver_spifi_dma
    bool

config MCUX_USE_driver_spifi_dma
    depends on MCUX_HAS_driver_spifi_dma
    bool "SPIFI DMA Driver"
    select MCUX_USE_driver_spifi
    help
      SPIFI Driver

# driver_spifi
config MCUX_HAS_driver_spifi
    bool

config MCUX_USE_driver_spifi
    depends on MCUX_HAS_driver_spifi
    bool "SPIFI Driver"
    select MCUX_USE_driver_common
    help
      SPIFI Driver
