# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_iee_apc
config MCUX_HAS_driver_iee_apc
    bool

config MCUX_USE_driver_iee_apc
    depends on MCUX_HAS_driver_iee_apc
    bool "IEE APC Driver"
    select MCUX_USE_driver_common
    help
      IEE APC Driver
