# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_ii2c
config MCUX_HAS_driver_ii2c
    bool

config MCUX_USE_driver_ii2c
    depends on MCUX_HAS_driver_ii2c
    bool "I2C Driver"

    help
      I2C Driver
