# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_aes
config MCUX_HAS_driver_aes
    bool

config MCUX_USE_driver_aes
    depends on MCUX_HAS_driver_aes
    bool "AES Driver"
    select MCUX_USE_driver_common
    help
      AES Driver
