# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_wdog01
config MCUX_HAS_driver_wdog01
    bool

config MCUX_USE_driver_wdog01
    depends on MCUX_HAS_driver_wdog01
    bool "wdog01 Driver"
    select MCUX_USE_driver_common
    help
      wdog01 Driver
