# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_clock
config MCUX_USE_driver_clock
    bool "Clock Driver"
    select MCUX_USE_driver_power
    select MCUX_USE_driver_common
    help
      Clock Driver

# driver_inputmux_connections
config MCUX_USE_driver_inputmux_connections
    bool "Inputmux_connections Driver"
    select MCUX_USE_driver_common
    help
      Inputmux_connections Driver

# driver_reset
config MCUX_USE_driver_reset
    bool "Reset Driver"
    select MCUX_USE_driver_common
    help
      Reset Driver
