# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_vref
config MCUX_HAS_driver_vref
    bool

config MCUX_USE_driver_vref
    depends on MCUX_HAS_driver_vref
    bool "VREF Driver"
    select MCUX_USE_driver_common
    help
      VREF Driver
