# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_dcdc_1
config MCUX_HAS_driver_dcdc_1
    bool

config MCUX_USE_driver_dcdc_1
    depends on MCUX_HAS_driver_dcdc_1
    bool "DCDC Driver"
    select MCUX_USE_driver_common
    help
      DCDC Driver
