# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_smc
config MCUX_HAS_driver_smc
    bool

config MCUX_USE_driver_smc
    depends on MCUX_HAS_driver_smc
    bool "SMC Driver"
    select MCUX_USE_driver_common
    help
      SMC Driver
