# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_LPCXPRESSO51U68

config MCUX_BOARD
    default "lpcxpresso51u68"

config MCUX_KIT
    default "lpcxpresso51u68"


#### Board level drivers ####

endif