# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_trng
config MCUX_HAS_driver_trng
    bool

config MCUX_USE_driver_trng
    depends on MCUX_HAS_driver_trng
    bool "TRNG Driver"
    select MCUX_USE_driver_common
    help
      TRNG Driver
