# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_LPC845BREAKOUT
    bool "LPC845BREAKOUT"
    select MCUX_USE_SOC_LPC845
    select MCUX_SOC_PART_LPC845