# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpc_acomp
config MCUX_HAS_driver_lpc_acomp
    bool

config MCUX_USE_driver_lpc_acomp
    depends on MCUX_HAS_driver_lpc_acomp
    bool "LPC_ACOMP Driver"
    select MCUX_USE_driver_common
    help
      LPC_ACOMP Driver
