# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_crc
config MCUX_HAS_driver_crc
    bool

config MCUX_USE_driver_crc
    depends on MCUX_HAS_driver_crc
    bool "CRC Driver"
    select MCUX_USE_driver_common
    help
      CRC Driver
