# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_adc_5v12b_ll18_015
config MCUX_HAS_driver_adc_5v12b_ll18_015
    bool

config MCUX_USE_driver_adc_5v12b_ll18_015
    depends on MCUX_HAS_driver_adc_5v12b_ll18_015
    bool "ADC12 Driver"
    select MCUX_USE_driver_common
    help
      ADC12 Driver
