# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKMIMXRT1024
    bool "EVKMIMXRT1024"
    select MCUX_USE_SOC_MIMXRT1024
    select MCUX_SOC_PART_MIMXRT1024xxxxx