# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mipi_csi2rx
config MCUX_HAS_driver_mipi_csi2rx
    bool

config MCUX_USE_driver_mipi_csi2rx
    depends on MCUX_HAS_driver_mipi_csi2rx
    bool "MIPI CSI2RX Driver"
    select MCUX_USE_driver_common
    help
      MIPI CSI2RX Driver
