# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_TWRKM34Z50MV3

config MCUX_BOARD
    default "twrkm34z50mv3"

config MCUX_KIT
    default "twrkm34z50mv3"


#### Board level drivers ####

endif