# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_irtc
config MCUX_HAS_driver_irtc
    bool

config MCUX_USE_driver_irtc
    depends on MCUX_HAS_driver_irtc
    bool "IRTC Driver"
    select MCUX_USE_driver_common
    help
      IRTC Driver
