# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_intmux
config MCUX_HAS_driver_intmux
    bool

config MCUX_USE_driver_intmux
    depends on MCUX_HAS_driver_intmux
    bool "INTMUX Driver"
    select MCUX_USE_driver_common
    help
      INTMUX Driver
