# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_cmsis_lpspi
config MCUX_HAS_driver_cmsis_lpspi
    bool

config MCUX_USE_driver_cmsis_lpspi
    depends on MCUX_HAS_driver_cmsis_lpspi
    bool "LPSPI CMSIS Driver"
    select MCUX_USE_driver_lpspi
    select MCUX_USE_CMSIS_Driver_Include_SPI
    select MCUX_USE_RTE_Device
    help
      LPSPI CMSIS Driver
