# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpit
config MCUX_HAS_driver_lpit
    bool

config MCUX_USE_driver_lpit
    depends on MCUX_HAS_driver_lpit
    bool "LPIT Driver"
    select MCUX_USE_driver_common
    help
      LPIT Driver
