# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_rtwdog
config MCUX_HAS_driver_rtwdog
    bool

config MCUX_USE_driver_rtwdog
    depends on MCUX_HAS_driver_rtwdog
    bool "RTWDOG Driver"
    select MCUX_USE_driver_common
    help
      RTWDOG Driver
