# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_LPCXPRESSO802
    bool "LPCXPRESSO802"
    select MCUX_USE_SOC_LPC802
    select MCUX_SOC_PART_LPC802