# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_pmc
config MCUX_HAS_driver_pmc
    bool

config MCUX_USE_driver_pmc
    depends on MCUX_HAS_driver_pmc
    bool "PMC Driver"
    select MCUX_USE_driver_common
    help
      PMC Driver
