# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_xip_device
config MCUX_USE_driver_xip_device
    bool "XIP Device Driver"
    select MCUX_USE_driver_common
    help
      XIP Device Driver
