# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_EVKMIMXRT1015

config MCUX_BOARD
    default "evkmimxrt1015"

config MCUX_KIT
    default "evkmimxrt1015"


#### Board level drivers ####
rsource "xip/Kconfig"

endif