# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_EVKBMIMXRT1060

config MCUX_BOARD
    default "evkbmimxrt1060"

config MCUX_KIT
    default "evkbmimxrt1060"


#### Board level drivers ####
rsource "xip/Kconfig"

endif