# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mmau
config MCUX_HAS_driver_mmau
    bool

config MCUX_USE_driver_mmau
    depends on MCUX_HAS_driver_mmau
    bool "MMAU Driver"
    select MCUX_USE_driver_common
    help
      MMAU Driver
