# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_gint
config MCUX_HAS_driver_gint
    bool

config MCUX_USE_driver_gint
    depends on MCUX_HAS_driver_gint
    bool "GINT Driver"
    select MCUX_USE_driver_common
    help
      GINT Driver
