# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_rng
config MCUX_HAS_driver_rng
    bool

config MCUX_USE_driver_rng
    depends on MCUX_HAS_driver_rng
    bool "RNG Driver"
    select MCUX_USE_driver_common
    help
      RNG Driver
