# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_edma
config MCUX_HAS_driver_edma
    bool

config MCUX_USE_driver_edma
    depends on MCUX_HAS_driver_edma
    bool "EDMA Driver"
    select MCUX_USE_driver_common
    select MCUX_USE_driver_dmamux
    help
      EDMA Driver
