# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_pmu
config MCUX_HAS_driver_pmu
    bool

config MCUX_USE_driver_pmu
    depends on MCUX_HAS_driver_pmu
    bool "pmu Driver"
    select MCUX_USE_driver_common
    help
      pmu Driver
