# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_sctimer
config MCUX_HAS_driver_sctimer
    bool

config MCUX_USE_driver_sctimer
    depends on MCUX_HAS_driver_sctimer
    bool "SCT Driver"
    select MCUX_USE_driver_common
    help
      SCT Driver
