# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_flexcomm_spi
config MCUX_HAS_driver_flexcomm_spi
    bool

config MCUX_USE_driver_flexcomm_spi
    depends on MCUX_HAS_driver_flexcomm_spi
    bool "FLEXCOMM SPI Driver"
    select MCUX_USE_driver_flexcomm
    select MCUX_USE_driver_common
    help
      SPI Driver

# driver_flexcomm_spi_dma
config MCUX_HAS_driver_flexcomm_spi_dma
    bool

config MCUX_USE_driver_flexcomm_spi_dma
    depends on MCUX_HAS_driver_flexcomm_spi_dma
    bool "FLEXCOMM SPI DMA Driver"
    select MCUX_USE_driver_flexcomm
    select MCUX_USE_driver_flexcomm_spi
    help
      SPI Driver
