# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_xrdc2
config MCUX_HAS_driver_xrdc2
    bool

config MCUX_USE_driver_xrdc2
    depends on MCUX_HAS_driver_xrdc2
    bool "XRDC2 Driver"
    select MCUX_USE_driver_common
    help
      XRDC2 Driver
