# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mscan
config MCUX_HAS_driver_mscan
    bool

config MCUX_USE_driver_mscan
    depends on MCUX_HAS_driver_mscan
    bool "MSCAN Driver"
    select MCUX_USE_driver_common
    help
      MSCAN Driver
