# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpc_minispi
config MCUX_HAS_driver_lpc_minispi
    bool

config MCUX_USE_driver_lpc_minispi
    depends on MCUX_HAS_driver_lpc_minispi
    bool "SPI Driver"
    select MCUX_USE_driver_common
    help
      SPI Driver
