# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKMIMXRT1060
    bool "EVKMIMXRT1060"
    select MCUX_USE_SOC_MIMXRT1062
    select MCUX_SOC_PART_MIMXRT1062xxxxA