# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_ostimer
config MCUX_HAS_driver_ostimer
    bool

config MCUX_USE_driver_ostimer
    depends on MCUX_HAS_driver_ostimer
    bool "OSTimer Driver"
    select MCUX_USE_driver_common
    help
      OSTimer Driver
