# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_cmp_1
config MCUX_HAS_driver_cmp_1
    bool

config MCUX_USE_driver_cmp_1
    depends on MCUX_HAS_driver_cmp_1
    bool "cmp_1 Driver"
    select MCUX_USE_driver_common
    help
      cmp_1 Driver
