# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_pit
config MCUX_HAS_driver_pit
    bool

config MCUX_USE_driver_pit
    depends on MCUX_HAS_driver_pit
    bool "PIT Driver"
    select MCUX_USE_driver_common
    help
      PIT Driver
