# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpc_dac
config MCUX_HAS_driver_lpc_dac
    bool

config MCUX_USE_driver_lpc_dac
    depends on MCUX_HAS_driver_lpc_dac
    bool "DAC Driver"
    select MCUX_USE_driver_common
    help
      DAC Driver
