# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_port
config MCUX_HAS_driver_port
    bool

config MCUX_USE_driver_port
    depends on MCUX_HAS_driver_port
    bool "PORT Driver"
    select MCUX_USE_driver_common
    help
      PORT Driver
