# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKMCIMX7ULP
    bool "EVKMCIMX7ULP"
    select MCUX_USE_SOC_MCIMX7U5
    select MCUX_SOC_PART_MCIMX7U5xxxxx