# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


# Core type definition
config MCUX_CPU_ARCH_ARM_CM0P
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CM4
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CM4F
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CM7F
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CM33
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CM33F
    bool
    select MCUX_CPU_ARCH_ARM

config MCUX_CPU_ARCH_ARM_CA7
    bool
    select MCUX_CPU_ARCH_ARM
