# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_rtc
config MCUX_HAS_driver_rtc
    bool

config MCUX_USE_driver_rtc
    depends on MCUX_HAS_driver_rtc
    bool "RTC Driver"
    select MCUX_USE_driver_common
    help
      RTC Driver
