# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_FRDMK32L2B

config MCUX_BOARD
    default "frdmk32l2b"

config MCUX_KIT
    default "frdmk32l2b"


#### Board level drivers ####

endif