# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_ctimer
config MCUX_HAS_driver_ctimer
    bool

config MCUX_USE_driver_ctimer
    depends on MCUX_HAS_driver_ctimer
    bool "CTimer Driver"
    select MCUX_USE_driver_common
    help
      CTimer Driver
