# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_capt
config MCUX_HAS_driver_capt
    bool

config MCUX_USE_driver_capt
    depends on MCUX_HAS_driver_capt
    bool "CAPT Driver"
    select MCUX_USE_driver_common
    help
      CAPT Driver
