# Copyright 2021 NXP
# SPDX-License-Identifier: BSD-3-Clause

menu "Devices"

config MCUX_SDK_DEVICE_LPC55S69
	bool "LPC55S69"
	select HAS_MCUX_SDK_DRIVER_CLOCK
	select HAS_MCUX_SDK_DRIVER_CMP_1
	select HAS_MCUX_SDK_DRIVER_COMMON
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_I2C
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_I2C_DMA
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_I2S
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_I2S_DMA
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_SPI
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_SPI_DMA
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_USART
	select HAS_MCUX_SDK_DRIVER_FLEXCOMM_USART_DMA
	select HAS_MCUX_SDK_DRIVER_INPUTMUX
	select HAS_MCUX_SDK_DRIVER_LPADC
	select HAS_MCUX_SDK_DRIVER_LPC_CRC
	select HAS_MCUX_SDK_DRIVER_LPC_DMA
	select HAS_MCUX_SDK_DRIVER_LPC_GPIO
	select HAS_MCUX_SDK_DRIVER_LPC_IOCON
	select HAS_MCUX_SDK_DRIVER_PINT
	select HAS_MCUX_SDK_DRIVER_PUF

config MCUX_SDK_DEVICE_MK64F12
	bool "MK64F12"
	select HAS_MCUX_SDK_DRIVER_ADC16
	select HAS_MCUX_SDK_DRIVER_CLOCK
	select HAS_MCUX_SDK_DRIVER_CMP
	select HAS_MCUX_SDK_DRIVER_CMT
	select HAS_MCUX_SDK_DRIVER_COMMON
	select HAS_MCUX_SDK_DRIVER_CRC
	select HAS_MCUX_SDK_DRIVER_DAC
	select HAS_MCUX_SDK_DRIVER_DMAMUX
	select HAS_MCUX_SDK_DRIVER_DSPI
	select HAS_MCUX_SDK_DRIVER_DSPI_EDMA
	select HAS_MCUX_SDK_DRIVER_EDMA
	select HAS_MCUX_SDK_DRIVER_EWM
	select HAS_MCUX_SDK_DRIVER_FLASH
	select HAS_MCUX_SDK_DRIVER_FLEXCAN
	select HAS_MCUX_SDK_DRIVER_FTM
	select HAS_MCUX_SDK_DRIVER_GPIO
	select HAS_MCUX_SDK_DRIVER_I2C
	select HAS_MCUX_SDK_DRIVER_I2C_EDMA
	select HAS_MCUX_SDK_DRIVER_LPTMR
	select HAS_MCUX_SDK_DRIVER_PDB
	select HAS_MCUX_SDK_DRIVER_PIT
	select HAS_MCUX_SDK_DRIVER_PORT
	select HAS_MCUX_SDK_DRIVER_RCM
	select HAS_MCUX_SDK_DRIVER_RNGA
	select HAS_MCUX_SDK_DRIVER_RTC
	select HAS_MCUX_SDK_DRIVER_SIM
	select HAS_MCUX_SDK_DRIVER_SMC
	select HAS_MCUX_SDK_DRIVER_SYSMPU
	select HAS_MCUX_SDK_DRIVER_UART
	select HAS_MCUX_SDK_DRIVER_UART_EDMA
	select HAS_MCUX_SDK_DRIVER_VREF
	select HAS_MCUX_SDK_DRIVER_WDOG

endmenu # Devices
