# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_TWRKM35Z75M

config MCUX_BOARD
    default "twrkm35z75m"

config MCUX_KIT
    default "twrkm35z75m"


#### Board level drivers ####

endif