# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_semc
config MCUX_HAS_driver_semc
    bool

config MCUX_USE_driver_semc
    depends on MCUX_HAS_driver_semc
    bool "SEMC Driver"
    select MCUX_USE_driver_common
    help
      SEMC Driver
