# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_sysmpu
config MCUX_HAS_driver_sysmpu
    bool

config MCUX_USE_driver_sysmpu
    depends on MCUX_HAS_driver_sysmpu
    bool "SYSMPU Driver"
    select MCUX_USE_driver_common
    help
      SYSMPU Driver
