# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_iee
config MCUX_HAS_driver_iee
    bool

config MCUX_USE_driver_iee
    depends on MCUX_HAS_driver_iee
    bool "IEE Driver"
    select MCUX_USE_driver_common
    help
      IEE Driver
