# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_lpadc
config MCUX_HAS_driver_lpadc
    bool

config MCUX_USE_driver_lpadc
    depends on MCUX_HAS_driver_lpadc
    bool "LPADC Driver"
    select MCUX_USE_driver_common
    help
      LPADC Driver
