# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_msmc
config MCUX_HAS_driver_msmc
    bool

config MCUX_USE_driver_msmc
    depends on MCUX_HAS_driver_msmc
    bool "MSMC Driver"
    select MCUX_USE_driver_common
    help
      MSMC Driver
