# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_FRDMKE16Z

config MCUX_BOARD
    default "frdmke16z"

config MCUX_KIT
    default "frdmke16z"


#### Board level drivers ####

endif