# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mailbox
config MCUX_HAS_driver_mailbox
    bool

config MCUX_USE_driver_mailbox
    depends on MCUX_HAS_driver_mailbox
    bool "MAILBOX Driver"
    select MCUX_USE_driver_common
    help
      MAILBOX Driver
