# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_dspi_edma
config MCUX_HAS_driver_dspi_edma
    bool

config MCUX_USE_driver_dspi_edma
    depends on MCUX_HAS_driver_dspi_edma
    bool "DSPI_EDMA Driver"
    select MCUX_USE_driver_dspi
    help
      DSPI Driver

# driver_dspi
config MCUX_HAS_driver_dspi
    bool

config MCUX_USE_driver_dspi
    depends on MCUX_HAS_driver_dspi
    bool "DSPI Driver"
    select MCUX_USE_driver_common
    help
      DSPI Driver
