# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_cmsis_enet
config MCUX_HAS_driver_cmsis_enet
    bool

config MCUX_USE_driver_cmsis_enet
    depends on MCUX_HAS_driver_cmsis_enet
    bool "ENET CMSIS Driver"
    select MCUX_USE_driver_enet
    select MCUX_USE_CMSIS_Driver_Include_Ethernet_MAC
    select MCUX_USE_CMSIS_Driver_Include_Ethernet_PHY
    select MCUX_USE_CMSIS_Driver_Include_Ethernet
    select MCUX_USE_RTE_Device
    select MCUX_USE_driver_phy-common
    help
      ENET CMSIS Driver
