# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_kpp
config MCUX_HAS_driver_kpp
    bool

config MCUX_USE_driver_kpp
    depends on MCUX_HAS_driver_kpp
    bool "KPP Driver"
    select MCUX_USE_driver_common
    help
      KPP Driver
