# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKBIMXRT1050
    bool "EVKBIMXRT1050"
    select MCUX_USE_SOC_MIMXRT1052
    select MCUX_SOC_PART_MIMXRT1052xxxxB