# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_LPCXPRESSO55S28

config MCUX_BOARD
    default "lpcxpresso55s28"

config MCUX_KIT
    default "lpcxpresso55s28"


#### Board level drivers ####

endif