# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_TWRKM34Z75M
    bool "TWRKM34Z75M"
    select MCUX_USE_SOC_MKM34Z7
    select MCUX_SOC_PART_MKM34Z256xxx7