# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_LPCXPRESSO54S018

config MCUX_BOARD
    default "lpcxpresso54s018"

config MCUX_KIT
    default "lpcxpresso54s018"


#### Board level drivers ####

endif