# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_wdog32
config MCUX_HAS_driver_wdog32
    bool

config MCUX_USE_driver_wdog32
    depends on MCUX_HAS_driver_wdog32
    bool "WDOG32 Driver"
    select MCUX_USE_driver_common
    help
      WDOG32 Driver
