# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
if MCUX_USE_BOARD_LPCXPRESSO804

config MCUX_BOARD
    default "lpcxpresso804"

config MCUX_KIT
    default "lpcxpresso804"


#### Board level drivers ####

endif