# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_dmamux
config MCUX_HAS_driver_dmamux
    bool

config MCUX_USE_driver_dmamux
    depends on MCUX_HAS_driver_dmamux
    bool "DMAMUX Driver"
    select MCUX_USE_driver_common
    help
      DMAMUX Driver
