# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_dcp
config MCUX_HAS_driver_dcp
    bool

config MCUX_USE_driver_dcp
    depends on MCUX_HAS_driver_dcp
    bool "DCP Driver"
    select MCUX_USE_driver_common
    help
      DCP Driver
