# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKMIMXRT1010
    bool "EVKMIMXRT1010"
    select MCUX_USE_SOC_MIMXRT1011
    select MCUX_SOC_PART_MIMXRT1011xxxxx