# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_cop
config MCUX_HAS_driver_cop
    bool

config MCUX_USE_driver_cop
    depends on MCUX_HAS_driver_cop
    bool "COP Driver"
    select MCUX_USE_driver_common
    help
      COP Driver
