# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_prince
config MCUX_HAS_driver_prince
    bool

config MCUX_USE_driver_prince
    depends on MCUX_HAS_driver_prince
    bool "PRINCE Driver"
    select MCUX_USE_driver_common
    help
      PRINCE Driver
