# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_flexbus
config MCUX_HAS_driver_flexbus
    bool

config MCUX_USE_driver_flexbus
    depends on MCUX_HAS_driver_flexbus
    bool "FLEXBUS Driver"
    select MCUX_USE_driver_common
    help
      FLEXBUS Driver
