# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_adc_12b1msps_sar
config MCUX_HAS_driver_adc_12b1msps_sar
    bool

config MCUX_USE_driver_adc_12b1msps_sar
    depends on MCUX_HAS_driver_adc_12b1msps_sar
    bool "ADC Driver"
    select MCUX_USE_driver_common
    help
      ADC Driver
