# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mipi_dsi_split
config MCUX_HAS_driver_mipi_dsi_split
    bool

config MCUX_USE_driver_mipi_dsi_split
    depends on MCUX_HAS_driver_mipi_dsi_split
    bool "MIPI DSI Driver"
    select MCUX_USE_driver_common
    select MCUX_USE_driver_soc_mipi_csi2rx
    help
      MIPI DSI Driver
