# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_cau3
config MCUX_HAS_driver_cau3
    bool

config MCUX_USE_driver_cau3
    depends on MCUX_HAS_driver_cau3
    bool "CAU3 Driver"
    select MCUX_USE_driver_common
    help
      CAU3 Driver
