# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_FRDMKE15Z
    bool "FRDMKE15Z"
    select MCUX_USE_SOC_MKE15Z7
    select MCUX_SOC_PART_MKE15Z256xxx7