# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_syscon
config MCUX_HAS_driver_syscon
    bool

config MCUX_USE_driver_syscon
    depends on MCUX_HAS_driver_syscon
    bool "SYSCON Driver"
    select MCUX_USE_driver_common
    select MCUX_USE_driver_syscon_connections
    help
      SYSCON Driver
