# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_xip_board_evkmimxrt1064
config MCUX_USE_driver_xip_board_evkmimxrt1064
    bool "XIP Board Driver"
    select MCUX_USE_driver_common
    help
      XIP Board Driver
