# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_mecc
config MCUX_HAS_driver_mecc
    bool

config MCUX_USE_driver_mecc
    depends on MCUX_HAS_driver_mecc
    bool "MECC Driver"
    select MCUX_USE_driver_common
    help
      MECC Driver
