# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_enet_qos
config MCUX_HAS_driver_enet_qos
    bool

config MCUX_USE_driver_enet_qos
    depends on MCUX_HAS_driver_enet_qos
    bool "ENET QoS Driver"
    select MCUX_USE_driver_common
    help
      ENET QoS Driver
