# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_igpio
config MCUX_HAS_driver_igpio
    bool

config MCUX_USE_driver_igpio
    depends on MCUX_HAS_driver_igpio
    bool "igpio"
    select MCUX_USE_driver_common
    help
      GPIO Driver
