# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_afe
config MCUX_HAS_driver_afe
    bool

config MCUX_USE_driver_afe
    depends on MCUX_HAS_driver_afe
    bool "AFE Driver"
    select MCUX_USE_driver_common
    help
      AFE Driver
