# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_pwm
config MCUX_HAS_driver_pwm
    bool

config MCUX_USE_driver_pwm
    depends on MCUX_HAS_driver_pwm
    bool "PWM Driver"
    select MCUX_USE_driver_common
    help
      PWM Driver
