# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_EVKBMIMXRT1170_CM4
    bool "EVKBMIMXRT1170 [CM4]"
    select MCUX_USE_SOC_MIMXRT1176_CM4
    select MCUX_SOC_PART_MIMXRT1176xxxxx

config MCUX_USE_BOARD_EVKBMIMXRT1170_CM7
    bool "EVKBMIMXRT1170 [CM7]"
    select MCUX_USE_SOC_MIMXRT1176_CM7
    select MCUX_SOC_PART_MIMXRT1176xxxxx