# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_ocotp
config MCUX_HAS_driver_ocotp
    bool

config MCUX_USE_driver_ocotp
    depends on MCUX_HAS_driver_ocotp
    bool "OCOTP Driver"
    select MCUX_USE_driver_common
    help
      OCOTP Driver
