# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_qtmr_2
config MCUX_HAS_driver_qtmr_2
    bool

config MCUX_USE_driver_qtmr_2
    depends on MCUX_HAS_driver_qtmr_2
    bool "QTMR_2 Driver"
    select MCUX_USE_driver_common
    help
      QTMR Driver
