# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_otfad
config MCUX_HAS_driver_otfad
    bool

config MCUX_USE_driver_otfad
    depends on MCUX_HAS_driver_otfad
    bool "OTFAD Driver"
    select MCUX_USE_driver_common
    help
      OTFAD Driver
