# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause

# driver_hashcrypt
config MCUX_HAS_driver_hashcrypt
    bool

config MCUX_USE_driver_hashcrypt
    depends on MCUX_HAS_driver_hashcrypt
    bool "Hashcrypt Driver"
    select MCUX_USE_driver_common
    help
      Hashcrypt Driver
