# Copyright 2023 NXP
# All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause


config MCUX_USE_BOARD_MIMXRT685AUDEVK_CM33
    bool "MIMXRT685AUDEVK [CM33]"
    select MCUX_USE_SOC_MIMXRT685S_CM33
    select MCUX_SOC_PART_MIMXRT685S